<div class="game">

  <div class="film poster">
    <img src="/assets/movie1.jpg">
  </div>
  <div class="dots">
    <img src="/assets/dots.svg">
  </div>
  <div class="cast">
    <img src="/assets/cast2.jpg">
  </div>
  <div class="dots">
    <img src="/assets/dots.svg">
  </div>
  <div class="film poster">
    <img src="/assets/movie3.jpg">
  </div>
  <div class="dots">
    <img src="/assets/dots.svg">
  </div>
  <div  [class.cast]="chosen">
    <app-cast-member-selector (chosen)="chosen=true;"  [options]="castMembers"></app-cast-member-selector>
  </div>
  <div *ngIf="chosen" class="dots">
    <img src="/assets/dots.svg">
  </div>
  <div *ngIf="chosen" class="film">
    <app-movie-selector [options]="movies"></app-movie-selector>
  </div>
  <div class="dots">
    <img src="/assets/dots.svg">
  </div>
  <div class="film poster">
    <img src="/assets/movie2.jpg">
  </div>
</div>
