h2 {
   font-size: 24px;
   line-height: normal;
   font-weight: 700;
 }
 
 p {
   font-size: 18px;
   line-height: normal;
   margin: 10px 0px 10px;
 }
 
 a {
   color:#0172D5;
 }

 ul {
  padding-left: 20px;
 }

 .stats {
  display: flex; 
  flex-direction: row; 
  gap: 16px;
  padding: 10px;
 }

 .stats-item {
  display: flex; 
  align-items: center; 
  flex-direction: column; 
  gap: 4px;

  .text {
    text-align: center; line-height: 1.2;
  }

  .number {
    font-size: 24px;
  }
 }