<div class="nav-bar">
  <mat-toolbar>
    <span class="bar-spacer"></span>

    <!-- <button mat-icon-button aria-label="Dark/light mode" (click)="darkMode = !darkMode">
      <mat-icon>lightbulb_outline</mat-icon>
    </button> -->
    <!-- <button mat-icon-button aria-label="Show solution metrics" (click)="showSolutionMetrics()">
      <span class="material-symbols-outlined">
        monitoring
      </span>
    </button> -->

    <button mat-icon-button aria-label="Buy us a coffee" (click)="openKofi()">
      <span class="material-symbols-outlined">
        volunteer_activism
      </span>
    </button>

    <button mat-icon-button aria-label="Show instructions" (click)="showInstructions()">
      <span class="material-symbols-outlined">
        info
      </span>
    </button>
  </mat-toolbar>
  <div class="second-menu" *ngIf="!token && !solved">
    <span class="counter">{{stepCount}} <span [ngPlural]="stepCount"><ng-template ngPluralCase="=1">step</ng-template><ng-template ngPluralCase="other">steps</ng-template></span></span>
    <button mat-icon-button aria-label="Reset" (click)="reset()" class="reset">
      <mat-icon>
        restart_alt
      </mat-icon>
    </button>
  </div>
</div>


<div class="center-puzzle" [class.dark-mode]="darkMode">
  <div class="bar-spacer"></div>
  <app-puzzle [token]="token" [puzzleId]="puzzleId" (stepCountChanged)="stepCount = $event" (solvedPuzzle)="solved=true"></app-puzzle>
  <div class="bar-spacer"></div>
</div>
