.bar-spacer {
    flex: 1 1 auto;
}

.nav-bar {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.second-menu {
  right: 0;
  position: absolute;
  border-style: none none solid solid;
  border-width: 1px;
  border-radius: 0 0 0 10px;
  color: #D52A9F;

  .counter {
    font-size: 18px;
    padding: 0 12px;
    font-weight: 500;
    vertical-align: middle;
    margin: auto;
  }

  @media only screen and (max-width: 600px) {
    text-align: center;

    .counter {
      padding-bottom: 10px 0;
      font-size: 16px;
    }
  }

}

.center-puzzle {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    min-height: 100%;
    min-width: 100%;
    width: fit-content;
    height: fit-content;
    background-color: #f0f0f0;

    &.dark-mode {
        background-color: #363333;
    }
}
