<div class="game">

  <div class="film poster">
    <img src="/assets/movie1.jpg">
  </div>
  <div class="dots">
    <img src="/assets/dots.svg">
  </div>
  <div class="cast">
    <img src="/assets/cast2.jpg">
  </div>
  <div class="dots">
    <img src="/assets/dots.svg">
  </div>
  <div class="film poster">
    <img src="/assets/movie3.jpg">
  </div>
  <div class="dots">
    <img src="/assets/dots.svg">
  </div>
  <div>
    <swiper [effect]="'cards'" [grabCursor]="true" class="mySwiper">
      <ng-template swiperSlide *ngFor="let member of castMembers"><img src="https://image.tmdb.org/t/p/w500{{member.profile_path}}"><div class="cast-name">{{member.name}}</div></ng-template>
    </swiper>
  </div>
  <div *ngIf="chosen" class="dots">
    <img src="/assets/dots.svg">
  </div>
  <div class="dots">
    <img src="/assets/dots.svg">
  </div>
  <div class="film poster">
    <img src="/assets/movie2.jpg">
  </div>
</div>
