<div [class.poster]="myControl.value" (click)="clicked()">
  <form *ngIf="!hasChosen()" class="form-full-width">
    <mat-form-field class="input-full-width" >
      <mat-label>Select a film <mat-icon>movie</mat-icon></mat-label>
      <input type="text"
             #input
             placeholder="Start typing"
             aria-label="Number"
             matInput
             autofocus
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn" [panelWidth]="320">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          <div class="option">
            <div> 
              <img *ngIf="option.poster_path" loading="lazy" src="https://image.tmdb.org/t/p/w500{{option.poster_path}}" class="movie-pic">
              <img *ngIf="!option.poster_path" src="assets/unknown-film.svg" class="movie-pic">
            </div>
            <div class="movie-name">{{option.title}}</div>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  
</div>

<app-movie-display *ngIf="hasChosen()" [item]="myControl.value"></app-movie-display>