<div [class.typing]="typing" [class.poster]="myControl.value" (click)="typing=true">
  <form *ngIf="typing && !hasChosen()" class="form">
    <mat-form-field class="full-width">
      <mat-label>Select one</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          <img src="https://image.tmdb.org/t/p/w500{{option.poster_path}}"  width="25px">
          {{option.title}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  
</div>
<div (click)="typing=true" class="who" *ngIf="!typing && !hasChosen()">????</div>

<app-movie-display *ngIf="hasChosen()" [item]="myControl.value"></app-movie-display>