<div [class.typing]="typing" [class.poster]="myControl.value" (click)="typing=true">
  <form *ngIf="typing && !hasChosen()" class="form">
    <mat-form-field class="full-width">
      <mat-label>Select one</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          <img src="assets/{{option.poster_path}}"  width="25px">
          {{option.title}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <img  *ngIf="hasChosen()" src="assets/{{myControl.value.img_path}}">
</div>
<div class="who" *ngIf="!typing && !hasChosen()">?</div>
