.option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 10px;
}

.form {
  padding: 0px 15px;
}

.movie-pic {
  width: 24px;
  padding-top: 15px;
}

.movie-name  {
  font-size: 16px;
}