<div class="wrapper" (click)="focused()" (mouseover)="focused()" (mouseleave)="leftFocus()" (mouseleave)="leftFocus()">
  <a *ngIf="item" class="card" [attr.href]="touchedAlready ? 'https://themoviedb.org/person/' + item.id : null" [target]="touchedAlready ? '_blank' : null">
      <a class="cast" title="{{item.name}}">
          <img *ngIf="item.profile_path" loading="lazy" src="https://image.tmdb.org/t/p/w500{{item.profile_path}}" width="150px">
          <img *ngIf="!item.profile_path" loading="lazy" src="assets/unknown-person.svg" width="150px">
      </a>
      <div class="view-text">View more about {{item.name}} on TMDB</div>
      <div class="go-corner">
          <div class="go-arrow">
            <mat-icon>open_in_new</mat-icon>
          </div>
      </div>
  </a>
</div>