.game {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

@media only screen and (max-width: 600px) {
    .game {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.game-wrapper {
    display: inline-block;
    overflow: auto;
}