.game {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f1f1f1;
    gap: 20px;
}

@media only screen and (max-width: 600px) {
    .game {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #f1f1f1;
        gap: 20px;
        flex-direction: column;
    }

}
