.game {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

@media only screen and (max-width: 600px) {
    .game {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }

}

.game-wrapper {
    margin-top: 75px;
    display: inline-block;
    overflow: auto;

    &.hasAuthor {
        margin-top: 120px;
    }
}

.author {
    font-size: 12px;
    position: absolute;
    top: 75px;
    left: 25px;

    @media only screen and (max-width: 600px) {
        top: 65px;
        left: 20px;
    }
}
