
<div class="game-wrapper">
    <div *ngIf="loading"><img src="assets/loading.gif"></div>
    <div *ngIf="!loading && error">Something went wrong :( Please reload.</div>
    <div *ngIf="!loading && !token" class="game">
        
        <app-movie-display [item]="puzzle?.start_movie"></app-movie-display>
        <div *ngFor="let id of puzzleSequence; let i = index"> 
            <app-cast-member-selector *ngIf="showMovieSelector(i)" [shouldOpenOnInit]="i!==0" [movieId]="id" (chosen)="add($event)"></app-cast-member-selector>
            <app-movie-selector *ngIf="showCastMemberSelector(i)" [shouldOpenOnInit]="i!==0" [castMemberId]="id" (chosen)="add($event)"></app-movie-selector>
        </div>
        <app-movie-display [item]="puzzle?.end_movie"></app-movie-display>
        <div #afterEndMovie></div>
    </div>
    <div *ngIf="!loading && token" class="game">
        <div *ngFor="let item of loadedSolution; let i = index">
            <app-movie-display *ngIf="i % 2 === 0" [item]="item"></app-movie-display>
            <app-cast-member-display *ngIf="i % 2 !== 0" [item]="item"></app-cast-member-display>
        </div>
    </div>
    
</div>