<mat-dialog-content>
  <p><strong>film in the gaps:</strong> link two films in as few steps as possible. each puzzle has a solution of six or fewer steps.</p>
  <p>select a cast or crew member from the first film, then select a film from that person's filmography. repeat until you reach the last film.</p>
  <p class="example-solution">
    <img class="example-solution" src="assets/examplesolution.png">
    e.g. <strong>Spider-Man: Far From Home</strong> stars <strong>Jake Gyllenhaal</strong> who plays Jack Twist
    in <strong>Brokeback Mountain</strong> which is directed by <strong>Ang Lee</strong> who also directs
    <strong>Hulk</strong> which stars <strong>Jennifer Connelly</strong> who appears in 
    <strong>Spider-Man: Homecoming</strong>!
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button class="primary" aria-label="understood instructions" [mat-dialog-close]="true" cdkFocusInitial>
    i'm ready to film in the gaps
  </button>
<!-- 
  <button mat-stroked-button aria-label="our data" [mat-dialog-close]="true" routerLink="/our-data">
    about our data
  </button> -->
</mat-dialog-actions>
<mat-dialog-content>
  <p class="example-solution">contact us <a href="https://twitter.com/filminthegaps">@filminthegaps</a></p>
</mat-dialog-content>