<mat-dialog-content>
  <h2>welcome 🤗</h2>
  <p>
  degreezle asks only one thing of you: connect the first film to the last. 
  every puzzle has a solution of six or less steps but be our guest and take as long as you want. 
  build a solution by connecting film to cast&crew to their filmographies &tc &tc.
  </p>

  <p>
  e.g.:
  <img class="example-solution" src="assets/examplesolution.png">
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close>Swag</button> -->
  <button mat-stroked-button aria-label="Our data" [mat-dialog-close]="true" routerLink="/our-data">
    Learn more about our data
  </button>
  <button mat-stroked-button aria-label="Understood instructions" [mat-dialog-close]="true" cdkFocusInitial>
    OK
  </button>
</mat-dialog-actions>
