<div [class.poster]="myControl.value" (click)="clicked()">
  <form *ngIf="!hasChosen()" class="form">
    <mat-form-field class="full-width">
      <mat-label>Pick a crew member</mat-label>
      <input type="text"
             #input
             placeholder="Start typing"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          <div class="option">
            <div><img *ngIf="option.profile_path" loading="lazy" src="https://image.tmdb.org/t/p/w500{{option.profile_path}}" class="cast-pic"></div>
            <div class="cast-name">{{option.name}}</div>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  
</div>

<app-cast-member-display *ngIf="hasChosen()" [item]="myControl.value"></app-cast-member-display>