<div [class.typing]="typing" [class.poster]="myControl.value" (click)="typing=true">
  <form *ngIf="typing && !hasChosen()" class="form">
    <mat-form-field class="full-width">
      <mat-label>Select one</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          <div class="option">
            <div><img *ngIf="option.profile_path !== 'None'" src="https://image.tmdb.org/t/p/w500{{option.profile_path}}" class="cast-pic"></div>
            <div class="cast-name">{{option.name}}</div>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <img  *ngIf="!typing && !hasChosen()" src="/assets/question-actor.svg" width="40px">
  
</div>

<div *ngIf="hasChosen()" class="cast">
  <img   src="https://image.tmdb.org/t/p/w500{{myControl.value.profile_path}}" width="150px">
</div>